<h1>Please enter your login information below!</h1>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <%= text_field_tag :email, "Email"%>
  
  <div class = "actionsß">
  <%= submit_tag "Log In"%>
  </div>
<% end %>
 