/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Welcome Page */
 body {
    background-color: #edF2F4;
    height: 75rem 
}

a {
    -webkit-text-stroke: 0.5px #B9EDF7
}

.container {
    height: 75rem;
    padding: 20px;
}

section {
    
    margin: 10px;
    padding: 20px;
}

.image {
    border: 5px solid black
}

nav {
    background-color: #1a1a1a;
}

.nav-wrapper {
    margin-right: 50px;
    margin-left: 50px;
    background-color: #1a1a1a;
}

/* Account Page */

.account-container {
    height: 50rem;
    margin: 50px;
}

.account-info {
    margin-top: 50px;
    margin-bottom: 50px;
}

select {
    display: block;
    width: 200px;
}


.ticket-select {
    display: block;
    width: 200px;
    margin-left: 350px;
    margin-bottom: 20px;
    text-align: center;
    
}

.edit-profile-button {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}

.fans {
    background-color: #fdfdfe;
    width: 400px;
    height: 250px;
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 280px;
    border: 2px solid #7A767C;
    border-radius: 10px;
}

textarea {
    height: 100px;
    border: 1px solid #7A767C;
    background-color: #fdfdfe;
    border-radius: 5px;
}

table {
    margin-top: 50px;
    font-size: larger;
}

.btn  {
    background-color: #1a1a1a;
}

input {
    text-align: center;
}