<div class="container">
    <section class="center">
        <div class="homepage-logo">
            <%= image_tag("cover-2.png", size: "600x200") %>
        </div>
    </section>

    <section class="homepage-img center">
        <%= image_tag("audience-band-concert-crowd-167636.jpg", size: "640x423") %>
    </section>
</div>