 <% if current_user.accountable_type == "User" %>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">GigFreq</a>
            <a class="brand-logo right hide-on-med-and-down"><%=current_user.username%></a>
                <ul class="hide-on-med-and-down"><%= render 'layouts/usernav'%></ul>
        </div>
    </nav>
<% else %>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">GIGFREQ</a>
            <a class="brand-logo right"><%=current_user.username%></a>
                <ul class="hide-on-med-and-down"><%= render 'layouts/bandnav'%></ul>
        </div>
    </nav>
<%end%>